include:
  - project: 'ucode/ops/ci-cd'
    ref: master
    file: 'microservices/ci.gitlab-ci.yml'

  - project: 'ucode/ops/ci-cd'
    ref: master
    file: 'microservices/cd-node-object-builder.gitlab-ci.yml'

stages:
  - build
  - deploy
