include:
  - .gitlab/ci/*.gitlab-ci.yml

stages:
  # - test
  - build
  - deploy
  - deploy-builder
  - rollback


# test-dev:
#   stage: test
#   image: gitlab.udevs.io:5050/docker/node:18.16.0-alpine
#   script:
#     - npm install
#     - npm test
#     - echo "Tests Successfully Passed!!!"
#   only:
#     - dev 

build-staging:
  stage: build
  extends: .build_template
  variables:
    ENV_TAG: test
    DOCKERFILE: Dockerfile
  only:
    - staging

build-dev:
  stage: build
  extends: .build_template
  variables:
    ENV_TAG: dev
    DOCKERFILE: Dockerfile
  only:
    - dev

build-prod:
  stage: build
  extends: .build_template
  variables:
    ENV_TAG: latest
    DOCKERFILE: Dockerfile
  only:
    - master

# deploy-staging:
#   stage: deploy
#   extends: .deploy_template
#   variables:
#     NAMESPACE: ucode-test
#     VALUES_FILE: .helm/values-test.yml
#     K8SCONFIGJSON: $UCODE_HZN_KUBECONFIG
#   only:
#     - staging
  

deploy-object-builder-high:
  stage: deploy
  extends: .deploy_template
  variables:
    NAMESPACE: ucode-test
    WORKLOAD: high
    VALUES_FILE: .helm/values-test-obj-high.yml
    K8SCONFIGJSON: $UCODE_HZN_KUBECONFIG
  only:
    - staging

deploy-object-builder-low:
  stage: deploy
  extends: .deploy_template
  variables:
    NAMESPACE: ucode-test
    WORKLOAD: low
    VALUES_FILE: .helm/values-test-obj-low.yml
    K8SCONFIGJSON: $UCODE_HZN_KUBECONFIG
  only:
    - staging

  

deploy-dev:
  stage: deploy
  extends: .deploy_template
  variables:
    NAMESPACE: ucode-dev
    VALUES_FILE: .helm/values-dev.yml
    K8SCONFIGJSON: $UCODE_HZN_KUBECONFIG
  only:
    - dev

# deploy-object-builder-high:
#   stage: deploy
#   extends: .deploy_object_builder_template
#   variables:
#     NAMESPACE: ucode-prod
#     WORKLOAD: high
#     VALUES_FILE: .helm/values-object-builder-high.yml
#     K8SCONFIGJSON: $UCODE_KUBECONFIG
#   only:
#     - master

# deploy-object-builder-low:
#   stage: deploy
#   extends: .deploy_object_builder_template
#   variables:
#     NAMESPACE: ucode-prod
#     WORKLOAD: low
#     VALUES_FILE: .helm/values-object-builder-low.yml
#     K8SCONFIGJSON: $UCODE_KUBECONFIG
#   only:
#     - master

rollback-staging:
  stage: rollback
  extends: .rollback_template
  variables:
    NAMESPACE: ucode-test
    K8SCONFIGJSON: $UCODE_HZN_KUBECONFIG
  when: manual

rollback-dev:
  stage: rollback
  extends: .rollback_template
  variables:
    NAMESPACE: ucode-dev
    K8SCONFIGJSON: $UCODE_HZN_KUBECONFIG
  when: manual

rollback-prod:
  stage: rollback
  extends: .rollback_template
  variables:
    NAMESPACE: ucode-prod
    K8SCONFIGJSON: $UCODE_KUBECONFIG
  when: manual

